// underline
	%underline {
		&::after {
			background-color: #2d2e2e;
			bottom: 0;
			content: "";
			height: 1px;
			position: absolute;
			right: 47%;
			width: 30px;
		}
	}

	%clearfix {
		content: "";
		display: table;
		clear: both;
	}

